<div class="container mt-4">
  <h2>Liste des tâches</h2>

  <button (click)="onAdd()" class="btn btn-primary mb-3">➕ Nouvelle tâche</button>

  <div *ngIf="loading">Chargement...</div>
  <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

  <table class="table table-bordered table-hover" *ngIf="tasks.length > 0">
    <thead class="table-light">
      <tr>
        <th>Titre</th>
        <th>Description</th>
        <th>Date de création</th>
        <th>Date limite</th>
        <th>status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks">
        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.createdDate| date: 'shortDate' }}</td>
        <td>{{ task.dueDate | date: 'shortDate' }}</td>
        <td>
          <span >
            {{ getStatusLabel(task.status) }}
          </span>
        </td>
        <td>
          <button class="btn btn-sm btn-warning me-2" (click)="onEdit(task.id)">✏️ Modifier</button>
          <button class="btn btn-sm btn-danger" (click)="onDelete(task.id)">🗑️ Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="!loading && tasks.length === 0">
    Aucune tâche enregistrée.
  </div>
</div>
